header{
    position: fixed;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 1000%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background: #9681f2;
    padding: 30px 10px;
    transition: .3s;
}

.navlist{
    display: flex;
}
.navlist li{
    position: relative;
    list-style: none;
}
.navlist a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 10px 27px;
    text-decoration: none;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: orangered;
    bottom: -3px;
    left: 0%;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}



.head{
    background-color: #9681f2;
    text-align: center;
    padding: 10% 10% 10% 10%;
    padding-top: 30%;
}
.head h5{
    letter-spacing: 1px;
    margin-top: 0%;
    color: whitesmoke;
    font-size: 12.8px;
    font-family: 'Source Sans Pro', sans-serif;
}
.head h1{
    margin-bottom: 0%;
    color: white;
    font-weight: 900;
    font-size: 45px;
    padding-bottom: 1%;
}
.head i{
    margin-top: 10%;
    color: white;
    font-size: 36px;
    cursor: pointer;
}



.resume{
    padding: 30% 30% 30% 30%;
    text-align: center;

}
.resume h1{
    font-size: 58px;
    font-weight: 500;
}
.resume a{
    text-decoration: none;
}
.top-btn{
    border-radius: 8px;
    color: whitesmoke;
    letter-spacing: 1px;
    padding:12px 25px;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}
.top-btn:hover{
    transform: scale(1.1);
    background: black;
    border: 2px solid;
}